/* -moz-support */
.dropdown-menu{
    margin-top: 15px;
    max-height: 200px;
    padding: 0px 0px 0px 0px;
    scrollbar-width: thin;
    overflow-x: hidden;
    scrollbar-color: #343a40 white;
}

/* -webkit-support */

::-webkit-scrollbar {
    padding-right: 0px;
    background: #c2c3c4;
    border-radius: 4px;
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 4px;
}
.btn .btn-outline-dark:focus,.btn-outline-dark:active {
    outline: none !important;
    box-shadow: none;
 }
.btn-sm{
    margin-bottom: 0px;
}
 .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-outline-light:hover,.btn-outline-light{
    color:#FFF;
    background-color: #343a40 ;
}
.thead-dark > tr > th{
    border: none;
}
.thead-dark > tr > th:first-child{
    border-top-left-radius: 2px;
}
.thead-dark > tr > th:last-child{
    border-top-right-radius: 2px;
}

.custom-thead > tr > th{
   padding-bottom: 18.8px;
}
.tooltip .tooltip-inner{
    max-width: 110%;
    width: 110%;
}
.tooltip_mark{
    width: 15%;
}